.box{
    top:27%;
    left: 20%;
}

.play-mode:hover {color: rgb(206, 219, 15);}


li{
    cursor: pointer;
}

a{
    color: black !important;
}

a:hover {
    text-decoration: none !important;
}